*.class
*/private/*

# Package Files #
*.jar
*.war
*.ear
/Prac1_Domino/SD_P1_Client/nbproject/private/
/Prac1_Domino/SD_P1_Client/dist/
/Prac1_Domino/SD_P1_Client/build/
/Prac1_Domino/LibraryDP/nbproject/private/
/Prac1_Domino/SD_P1_Server/nbproject/private/
/Prac1_Domino/SD_P1_Server/dist/
/Prac1_Domino/SD_P1_Server/build/
/Prac1_Domino/LibraryDP/build/
/Prac1_Domino/LibraryDP/dist/