*.class
*/private/*

# Package Files #
*.jar
*.war
*.ear
/Prac1_Domino/SD_P1_Client/nbproject/private/*
/Prac1_Domino/SD_P1_Client/dist/*
/Prac1_Domino/SD_P1_Client/build/*
/Prac1_Domino/LibraryDP/nbproject/private/*
/Prac1_Domino/SD_P1_Server/nbproject/private/*
/Prac1_Domino/SD_P1_Server/dist/*
/Prac1_Domino/SD_P1_Server/build/*
/Prac1_Domino/LibraryDP/build/*
/Prac1_Domino/LibraryDP/dist/*
/Prac2_Chat/Peer/nbproject/private/
/Prac2_Chat/Peer/build/
/Prac2_Chat/Peer/dist/
/Prac2_Chat/Common/nbproject/private/
/Prac2_Chat/Server/nbproject/private/
/Prac2_Chat/Server/build/
/Prac2_Chat/Server/dist/
/Prac2_Chat/Common/build/
/Prac2_Chat/Common/dist/
/Prac3_Botiga/Botiga/build/
/Prac3_Botiga/Botiga/nbproject/private/
/Prac3_Botiga/Botiga/build.xml
