/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-may-2014, 10:36:14
    Author     : zenbook
*/
body{
    font-family: DejaVuSans, Arial;
    margin:0;
}

#header {
    
    background-image: url('../img/background_header.png');
    zoom: 1;
}

#header-content {
    width: 100%;
    max-width: 1200px;
    height: 90px;
    //background-color: inherit;
    margin: auto;
    padding-top: 40px;
}

#body-content {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display:block;
    overflow-x: hidden;
}

#title{
    
    color: #c8d7a4;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-top: -30px;
    margin-left: 25px;
    
}

.right-header {
    float:right;
    margin: 0;
    margin-right: 70px;
    margin-left: 15px;
    padding: 0;
    
}

.link {
    color: #c8d7a4;
    border-bottom-color: #c8d7a4;
}

.link:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom-color: #FFFFFF;
}

.left-content{
    float: left;
    font-size: 140%;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    background-color: #c8d7a4;
    color: #646b52;
    border-radius: 7px;
    padding: 7px;
}

.button:hover {
    background-color: #c8e7a4;
    color: #647b52;
}

#seccio-registrat-avall {
    height: 100%;
    float: bottom;
    margin: 0 auto;
}

#credits{
    float: none;
}
